{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [2, 4],
        "import/no-extraneous-dependencies": 0,
        "no-console": 0,
        "react/jsx-closing-bracket-location": 0,
        "react/prop-types": 0,
        "react/jsx-indent-props": [1, 4],
        "object-curly-spacing": 0
    }
}
