{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        no-underscore-dangle: [1, { "allowAfterThis": true }],
        "indent": [1, 4],
        "import/no-extraneous-dependencies": 0,
        "no-console": 0,
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-indent-props": [1, 4],
        "react/jsx-indent": [1, 4],
        "react/forbid-prop-types": 0,
        "object-curly-spacing": 0
    }
}
